DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=0
MYSQL_DATABASE=catalogo_db
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_ALLOW_EMPTY_PASSWORD=1
MYSQL_HOST=db
MYSQL_PORT=3306
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
